<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Vue Email List</title>
</head>
<body>
    <!-- APP -->
    <section id="app" class="container">
        <h1>Random Email Address List</h1>
        <ul class="email-list" v-if="listCompleted">
            <li v-for="(email, index) in emailList" class="list-item">
                Email address {{index + 1}}: {{ email }}
            </li>
        </ul>
        <h4 v-else ref="status">Loading...</h4>
    </section>

    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./js/main.js"></script>
</body>
</html>